<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.catchmind.catchfun.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.catchmind.catchfun.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.catchmind.catchfun.board.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.catchmind.catchfun.projectAdmin.model.vo.ProjectBasic" alias="Basic" />
		<typeAlias type="com.catchmind.catchfun.projectAdmin.model.vo.Project" alias="Project" />
		<typeAlias type="com.catchmind.catchfun.projectAdmin.model.vo.Item" alias="Item" />
		<typeAlias type="com.catchmind.catchfun.projectAdmin.model.vo.Reward" alias="Reward" />
		<typeAlias type="com.catchmind.catchfun.projectAdmin.model.vo.Option" alias="Option" />
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/projectAdmin-mapper.xml"/>
	</mappers>
	
	
</configuration>


