<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

  <!-- 
  <resultMap id="adminResultSet" type="Board">
		<id column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_content" property="boardContent"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<update id="updateMember" parameterType="Member">
	  		update member
	  		   set email=#{email}, 
	  		       age=#{age},
	  		       phone=#{phone},
	  		       address=#{address},
	  		       gender=#{gender},
	  		       modify_date=sysdate
	  		 where user_id=#{userId}    
	  </update>
	  
	  <update id="deleteMember" parameterType="string">
	  		update member
	  		   set status='N' 
	  		 where user_id=#{userId}
	  </update>
	  
	  <select id="idCheck" parameterType="string" resultType="_int">
	  		select count(*)
	  		  from member
	  		 where user_id=#{userId}
	  </select>
	   -->
	   
	   <!-- 위에 참고용 -->
	   
  	<!-- 주혁시작 -->
	   
	<resultMap id="adminNoticeResultSet" type="Notice">
		<id column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		<result column="NOTICE_COUNT" property="noticeCount"/>
		<result column="NOTICE_STATUS" property="noticeStatus"/>
	</resultMap>
	
	<resultMap id="adminFaqResultSet" type="Faq">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_ANSWER" property="faqAnswer"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
		<result column="FAQ_DATE" property="faqDate"/>
	</resultMap>
	
	<resultMap id="adminQuestionResultSet" type="Question">
		<id column="A_QUESTION_NO" property="questionNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="QUESTION_TYPE" property="questionType"/>
		<result column="QUESTION_TITLE" property="questionTitle"/>
		<result column="QUESTION_CONTENT" property="questionContent"/>
		<result column="QUESTION_DATE" property="questionDate"/>
		<result column="QUESTION_YN" property="questionYn"/>
		<result column="QUESTION_STATUS" property="questionStatus"/>
		<result column="ANS_TITLE" property="ansTitle"/>
		<result column="ANS_CONTENT" property="ansContent"/>
		<result column="ANS_DATE" property="ansDate"/>
		<result column="ANS_NO" property="ansNo"/>
		<result column="COUNSELING" property="counseling"/>
	</resultMap>
	
	<resultMap id="adminCategoryResultSet" type="Category">
		<id column="FILE_NO" property="fileNo"/>
		<result column="REF_NO" property="refNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="STATUS" property="status"/>
		<result column="PROJECT_NAME" property="projectName"/>
	</resultMap>
	
	<resultMap id="adminPayTotalResultSet" type="PayTotal">
		<result column="PROJECT_NUMBER" property="projectNumber"/>
		<result column="REWARD_NO" property="rewardNo"/>
		<result column="PROJECT_NAME" property="projectName"/>
		<result column="user_id" property="userId"/>
		<result column="FUNDING_COST" property="fundingCost"/>
		<result column="FUNDING_QUANTITY" property="fundingQuantity"/>
		<result column="PROJECT_TARGET_AMOUNT" property="projectTargetAmount"/>
		<result column="PROJECT_FINISHDATE" property="projectFinishDate"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="total" property="total"/>
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from NOTICE_TEMP
		 where NOTICE_STATUS='N'
	</select>
	
	<select id="selectList" resultMap="adminNoticeResultSet">
		select NOTICE_NO, user_Id, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, NOTICE_COUNT, NOTICE_STATUS
		  from NOTICE_TEMP
		  join member m using (user_no)
		 where NOTICE_STATUS='N'
		 order by NOTICE_DATE desc
	</select>
  	
  	<select id="noticeDetail" parameterType="string" resultMap="adminNoticeResultSet">
		select *
		  from NOTICE_TEMP
		 where NOTICE_NO=#{nno}
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		insert into NOTICE_TEMP
		values('N'||seq_nno.nextval, #{userNo}, #{noticeTitle}, #{noticeContent}, default, 0, default)
	</insert>
	
	<update id="noticeDelete" parameterType="string">
		update NOTICE_TEMP
		   set NOTICE_STATUS='Y'
		 where NOTICE_NO=#{nno}
	</update>
	
	<update id="noticeUpdatInsert" parameterType="Notice">
		update NOTICE_TEMP
		   set NOTICE_TITLE=#{noticeTitle}, NOTICE_CONTENT=#{noticeContent}
		 where NOTICE_NO=#{noticeNo}
	</update>
	
	<!-- Question -->
	<select id="questionSelectListCount" resultType="_int">
		select count(*)
		  from PERSON_QUESTION
		 where QUESTION_STATUS='N'
	</select>
	
	<select id="questionSelectList" resultMap="adminQuestionResultSet">
		select *
		  from PERSON_QUESTION
		  join member m using (user_no)
		 where QUESTION_STATUS='N'
		 order by A_QUESTION_NO desc
	</select>
	
	<select id="qnaDetail" parameterType="string" resultMap="adminQuestionResultSet">
		select *
		  from PERSON_QUESTION
		 where A_QUESTION_NO=#{qno} and QUESTION_STATUS='N'
	</select>
	
	<update id="qnaAnsUpdate" parameterType="Question">
		update PERSON_QUESTION
		   set ANS_TITLE=#{ansTitle}, ANS_CONTENT=#{ansContent}, ANS_DATE=default, QUESTION_YN='Y', ANS_NO=#{ansNo}
		 where A_QUESTION_NO=#{questionNo}
	</update>
	
	<update id="qnaDelete" parameterType="string">
		update PERSON_QUESTION
		   set QUESTION_STATUS='Y'
		 where A_QUESTION_NO=#{questionNo}
	</update>
	
	<!-- Category -->
	 <!-- insertCategory -->
	 
	<insert id="insertCategory" parameterType="Category">
		insert into CATEGORY_TYPE
		values('C'||SEQ_CNO.nextval, #{projectCategoryName})
	</insert>
	
	<insert id="insertAttachment" parameterType="Category">
		insert into ATTACHMENT
		values('AT'||SEQ_ATNO.nextval, #{refNo}, #{originName}, #{changeName}, #{filePath}, default, 1, default)
	</insert>
	
	<select id="refNoCategory" resultType="string">
		select PROJECT_CATEGORY
		  from CATEGORY_TYPE
<![CDATA[where rownum<=1]]>
		 order by PROJECT_CATEGORY desc
	</select>
	
	<select id="categoryDetail" parameterType="string" resultMap="adminCategoryResultSet">
		select A.*, c.PROJECT_NAME
		  from ATTACHMENT A
		  join CATEGORY_TYPE C on (PROJECT_CATEGORY = REF_NO)
		 where REF_NO = #{cno} and STATUS = 'N'
	</select>
	
	<update id="updateCatrgory" parameterType="Category">
		update CATEGORY_TYPE
		   set PROJECT_NAME = #{projectCategoryName}
		 where PROJECT_CATEGORY = #{projectCategory}
	</update>
	
	<update id="updateCatrgory2" parameterType="Category">
		update ATTACHMENT
		   set ORIGIN_NAME = #{originName}, CHANGE_NAME = #{changeName}
		 where REF_NO=#{projectCategory}
	</update>
	
	<select id="categoryList" resultMap="adminCategoryResultSet">
		select A.*, c.PROJECT_NAME
	      from ATTACHMENT A
	      join CATEGORY_TYPE C on (PROJECT_CATEGORY = REF_NO)
	     where STATUS='N'
	</select>
	
	<select id="deleteCategoryFile" parameterType="string" resultType="string">
		select CHANGE_NAME
		  from ATTACHMENT
		 where REF_NO = #{cno}
	</select>
	
	<update id="deleteCatrgory" parameterType="string">
		update ATTACHMENT
		   set STATUS='Y'
		 where REF_NO=#{cno}
	</update>
	
	<!-- 통계!! -->
	<select id="payList" parameterType="string" resultMap="adminPayTotalResultSet">
		select p.PROJECT_NUMBER as PROJECT_NUMBER, REWARD_NO as REWARD_NO, p.PROJECT_NAME as PROJECT_NAME, m2.user_id as user_id, FUNDING_COST as FUNDING_COST, FUNDING_QUANTITY as FUNDING_QUANTITY, PROJECT_TARGET_AMOUNT as PROJECT_TARGET_AMOUNT, PROJECT_FINISHDATE as PROJECT_FINISHDATE, c.PROJECT_NAME as CATEGORY_NAME,
		(select sum(FUNDING_COST*FUNDING_QUANTITY)
		from FUNDING_LIST f
		join PROJECT p on (f.PROJECT_NUMBER = p.PROJECT_NUMBER)
		join CATEGORY_TYPE c on (p.PROJECT_CATEGORY = c.PROJECT_CATEGORY)
		join member m on (f.user_no = m.user_no)
		join member m2 on (p.user_no = m2.user_no)
		where f.PROJECT_NUMBER = #{pr}
		group by p.PROJECT_NUMBER) as total
		from FUNDING_LIST f
		join PROJECT p on (f.PROJECT_NUMBER = p.PROJECT_NUMBER)
		join CATEGORY_TYPE c on (p.PROJECT_CATEGORY = c.PROJECT_CATEGORY)
		join member m on (f.user_no = m.user_no)
		join member m2 on (p.user_no = m2.user_no)
		where f.PROJECT_NUMBER = #{pr} and <![CDATA[rownum <= 1]]>
	</select>
	
	<select id="prList" resultType="string">
		select PROJECT_NUMBER
		  from PROJECT
	</select>
	
	
  	<!-- 주혁끝 -->
  	
  	
  
</mapper>
