<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
  <cache-ref namespace="adminMapper"/>
  <!-- 
  <resultMap id="adminResultSet" type="Board">
		<id column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_content" property="boardContent"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<update id="updateMember" parameterType="Member">
	  		update member
	  		   set email=#{email}, 
	  		       age=#{age},
	  		       phone=#{phone},
	  		       address=#{address},
	  		       gender=#{gender},
	  		       modify_date=sysdate
	  		 where user_id=#{userId}    
	  </update>
	  
	  <update id="deleteMember" parameterType="string">
	  		update member
	  		   set status='N' 
	  		 where user_id=#{userId}
	  </update>
	  
	  <select id="idCheck" parameterType="string" resultType="_int">
	  		select count(*)
	  		  from member
	  		 where user_id=#{userId}
	  </select>
	   -->
	   
	   <!-- 위에 참고용 -->
	   
	   
	<resultMap id="adminNoticeResultSet" type="Notice">
		<id column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		<result column="NOTICE_COUNT" property="noticeCount"/>
		<result column="NOTICE_STATUS" property="noticeStatus"/>
	</resultMap>
	
	<resultMap id="adminFaqResultSet" type="Faq">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_ANSWER" property="faqAnswer"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
		<result column="FAQ_DATE" property="faqDate"/>
	</resultMap>
	
  	<!-- 주혁시작 -->
  	
  	
  	
  	<!-- 주혁끝 -->
  
</mapper>
