<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mainMapper">

	<resultMap id="mainResultSet" type="Main">
		<id column="PROJECT_NUMBER" property="projectNo" />
		<result column="PROJECT_NAME" property="projectName" /> 
		<result column="PROJECT_CATEGORY_NAME" property="projectCategory" /> 
		<result column="CHANGE_NAME" property="projectImg" /> 
		<result column="MAKER_NAME" property="makerName" /> 
		<result column="CHANGE_NAME" property="projectImg" /> 
		<result column="PROJECT_TARGET_AMOUNT" property="projectTargetAmount" /> 
		<result column="TOTALCOST" property="fundingTotalCost" /> 
		<result column="DDAY" property="projectDday" />
		<result column="PROJECT_STATUS" property="projectStatus" /> 
		<result column="PROJECT_CATEGORY" property="categoryNo" />
		<result column="COMINGSOONDATE" property="comingsoonDate" />
		<result column="PROJECT_STARTDATE" property="projectStartDate" />
		<result column="PROJECT_FINISHDATE" property="projectFinishDate" />
		<result column="HASHTAGS" property="hashtags" />
	</resultMap>
	
	<resultMap id="mainCategoryResultSet" type="MainCategory">
		<id column="PROJECT_CATEGORY" property="categoryNo" />
		<result column="PROJECT_CATEGORY_NAME" property="categoryName" />
		<result column="CHANGE_NAME" property="categoryImg" /> 
	</resultMap>
	

	<select id="mainSpotlightList" resultMap="mainResultSet" parameterType="Main">
		SELECT * 
		  FROM (SELECT PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
       				   PROJECT_CATEGORY, SUM(FUNDING_COST*FUNDING_QUANTITY+NVL(FUNDING_SPONSERSHIP,0)) as TOTALCOST,
       				   CEIL(PROJECT_FINISHDATE-SYSDATE) as DDAY, PROJECT_STARTDATE, PROJECT_FINISHDATE
				  FROM PROJECT
				  JOIN PROJECT_MAKER USING(PROJECT_NUMBER)
				  JOIN CATEGORY_TYPE USING(PROJECT_CATEGORY)
			 LEFT JOIN ATTACHMENT ON (PROJECT_NUMBER = REF_NO)
			 LEFT JOIN FUNDING_LIST USING(PROJECT_NUMBER)
				 WHERE PROJECT_STATUS='Y' 
        			   AND (TO_CHAR(PROJECT_STARTDATE,'YY/MM/DD')) &lt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
        			   AND (TO_CHAR(PROJECT_FINISHDATE,'YY/MM/DD')) &gt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
				 GROUP BY PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, 
        			   MAKER_NAME, PROJECT_CATEGORY_NAME, PROJECT_CATEGORY, CEIL(PROJECT_FINISHDATE-SYSDATE), PROJECT_STARTDATE, PROJECT_FINISHDATE
				 ORDER BY DBMS_RANDOM.VALUE DESC NULLS LAST)
					<![CDATA[WHERE ROWNUM <= 6]]>
	</select>
	
	<select id="mainCategoryList" resultMap="mainCategoryResultSet" parameterType="MainCategory">
		SELECT PROJECT_CATEGORY, PROJECT_CATEGORY_NAME, CHANGE_NAME
		  FROM CATEGORY_TYPE
		  JOIN ATTACHMENT ON (PROJECT_CATEGORY = REF_NO)
	</select>
	
	
	
	<select id="mainCategoryProjectList" resultMap="mainResultSet" parameterType="java.util.HashMap">
		SELECT PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
               PROJECT_CATEGORY, SUM(FUNDING_COST+NVL(FUNDING_SPONSERSHIP,0)) as TOTALCOST,
               CEIL(PROJECT_FINISHDATE-SYSDATE) as DDAY, PROJECT_STARTDATE, PROJECT_FINISHDATE
		 FROM PROJECT
		 JOIN PROJECT_MAKER USING(PROJECT_NUMBER)
		 JOIN CATEGORY_TYPE USING(PROJECT_CATEGORY)
	LEFT JOIN ATTACHMENT ON (PROJECT_NUMBER = REF_NO)
	LEFT JOIN FUNDING_LIST USING(PROJECT_NUMBER)
		WHERE PROJECT_STATUS='Y' AND PROJECT_STARTDATE &lt; SYSDATE AND (TO_CHAR(PROJECT_FINISHDATE,'YYMMDD') &gt;= TO_CHAR(SYSDATE, 'YYMMDD')) 
			  <if test="cno != null"> and project_category=#{cno}</if>
		GROUP BY PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
              PROJECT_CATEGORY, CEIL(PROJECT_FINISHDATE-SYSDATE), PROJECT_STARTDATE, PROJECT_FINISHDATE
			  <if test="order != null"> ORDER BY ${order} DESC</if>
	</select>
	
	<select id="mainCategoryName" resultType="string" parameterType="MainCategory">
		SELECT PROJECT_CATEGORY_NAME
		  FROM CATEGORY_TYPE
		 WHERE PROJECT_CATEGORY=#{cno}
	</select>
	
	<select id="getListCnt" resultType="_int">
		SELECT COUNT(*) 
		  FROM ( SELECT PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
       			 		PROJECT_CATEGORY, SUM(FUNDING_COST*FUNDING_QUANTITY+NVL(FUNDING_SPONSERSHIP,0)) as TOTALCOST,
       			 		CEIL(PROJECT_FINISHDATE-SYSDATE) as DDAY, PROJECT_STARTDATE, PROJECT_FINISHDATE
				   FROM PROJECT
				   JOIN PROJECT_MAKER USING(PROJECT_NUMBER)
				   JOIN CATEGORY_TYPE USING(PROJECT_CATEGORY)
			  LEFT JOIN ATTACHMENT ON (PROJECT_NUMBER = REF_NO)
			  LEFT JOIN FUNDING_LIST USING(PROJECT_NUMBER)
				  WHERE PROJECT_STATUS='Y' 
        				AND (TO_CHAR(PROJECT_STARTDATE,'YY/MM/DD')) &lt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
        				AND (TO_CHAR(PROJECT_FINISHDATE,'YY/MM/DD')) &gt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
						<if test="cno != null"> and project_category=#{cno}</if>
				  GROUP BY PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
                      	PROJECT_CATEGORY, CEIL(PROJECT_FINISHDATE-SYSDATE), PROJECT_STARTDATE, PROJECT_FINISHDATE
						<choose>
    						<when test="order != 'project_finishdate' and order != null">
      							ORDER BY ${order} DESC NULLS LAST
    						</when>
    						<when test="order != null">
      							ORDER BY ${order} NULLS LAST
    						</when>
    						<otherwise>ORDER BY TOTALCOST DESC NULLS LAST</otherwise>
  						</choose>
				)
	</select>
	
	<select id="getList" resultMap="mainResultSet" parameterType="java.util.HashMap">
		SELECT * FROM (SELECT ROWNUM RNUM, A.* 
					     FROM (
								SELECT PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
       								   PROJECT_CATEGORY, SUM(FUNDING_COST*FUNDING_QUANTITY+NVL(FUNDING_SPONSERSHIP,0)) as TOTALCOST,
       								   CEIL(PROJECT_FINISHDATE-SYSDATE) as DDAY, PROJECT_STARTDATE, PROJECT_FINISHDATE
								  FROM PROJECT
								  JOIN PROJECT_MAKER USING(PROJECT_NUMBER)
								  JOIN CATEGORY_TYPE USING(PROJECT_CATEGORY)
							 LEFT JOIN ATTACHMENT ON (PROJECT_NUMBER = REF_NO)
							 LEFT JOIN FUNDING_LIST USING(PROJECT_NUMBER)
								 WHERE PROJECT_STATUS='Y' 
								 	   AND (TO_CHAR(PROJECT_STARTDATE,'YY/MM/DD')) &lt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
								 	   AND (TO_CHAR(PROJECT_FINISHDATE,'YY/MM/DD')) &gt;= (TO_CHAR(SYSDATE, 'YY/MM/DD'))
									   <if test="cno != null"> and project_category=#{cno}</if>
								 GROUP BY PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
                      				   PROJECT_CATEGORY, CEIL(PROJECT_FINISHDATE-SYSDATE), PROJECT_STARTDATE, PROJECT_FINISHDATE
									   <choose>
    								  		<when test="order != 'project_finishdate' and order != null">
      											ORDER BY ${order} DESC NULLS LAST
    										</when>
    										<when test="order != null">
      											ORDER BY ${order} NULLS LAST
    										</when>
    										<otherwise>ORDER BY TOTALCOST DESC NULLS LAST</otherwise>
  										</choose>
								) A) 
				WHERE RNUM BETWEEN #{param.startNum} AND #{param.endNum}
	</select>
	
	<select id="mainComingsoonList" resultMap="mainResultSet" parameterType="Main">
		SELECT PROJECT_NUMBER, PROJECT_NAME, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_STARTDATE,
               PROJECT_CATEGORY_NAME, TO_CHAR(PROJECT_STARTDATE, 'MON DD') AS COMINGSOONDATE
		  FROM PROJECT
		  JOIN PROJECT_MAKER USING(PROJECT_NUMBER)
		  JOIN CATEGORY_TYPE USING(PROJECT_CATEGORY)
	 LEFT JOIN ATTACHMENT ON (PROJECT_NUMBER = REF_NO)
		 WHERE PROJECT_STATUS='Y' AND PROJECT_STARTDATE > SYSDATE
	</select>
	
	
	<!-- 검색결과 페이징 -->
	<select id="mainSearchAjax" resultMap="mainResultSet" parameterType="java.util.HashMap">
		SELECT * FROM (SELECT ROWNUM RNUM, A.* 
						 FROM (SELECT PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
       						   PROJECT_CATEGORY, SUM(FUNDING_COST*FUNDING_QUANTITY+NVL(FUNDING_SPONSERSHIP,0)) as TOTALCOST,
       						   CEIL(PROJECT_FINISHDATE-SYSDATE) as DDAY, PROJECT_STARTDATE, PROJECT_FINISHDATE
						 		 FROM PROJECT
								 JOIN PROJECT_MAKER USING(PROJECT_NUMBER)
								 JOIN CATEGORY_TYPE USING(PROJECT_CATEGORY)
							LEFT JOIN ATTACHMENT ON (PROJECT_NUMBER = REF_NO)
							LEFT JOIN FUNDING_LIST USING(PROJECT_NUMBER)
						   WHERE PROJECT_STATUS='Y' 
						   		 AND (TO_CHAR(PROJECT_STARTDATE,'YY/MM/DD')) &lt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
						   		 AND (TO_CHAR(PROJECT_FINISHDATE,'YY/MM/DD')) &gt;= (TO_CHAR(SYSDATE, 'YY/MM/DD'))
        						 AND (PROJECT_NAME LIKE '%${keyword}%' OR MAKER_NAME LIKE '%${keyword}%' or HASHTAGS LIKE '%${keyword}%')
						   GROUP BY PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
                      			 PROJECT_CATEGORY, CEIL(PROJECT_FINISHDATE-SYSDATE), PROJECT_STARTDATE, PROJECT_FINISHDATE
								 ) A) 
		WHERE RNUM BETWEEN #{param.startNum} AND #{param.endNum}
	</select>
	
	<!-- 검색결과 총 게시글 갯수  -->
	<select id="getSearchListCnt" resultType="_int">		
		SELECT COUNT(*) 
		  FROM ( SELECT PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
       			 		PROJECT_CATEGORY, SUM(FUNDING_COST*FUNDING_QUANTITY+NVL(FUNDING_SPONSERSHIP,0)) as TOTALCOST,
       			 		CEIL(PROJECT_FINISHDATE-SYSDATE) as DDAY, PROJECT_STARTDATE, PROJECT_FINISHDATE
				   FROM PROJECT
				   JOIN PROJECT_MAKER USING (PROJECT_NUMBER)
				   JOIN CATEGORY_TYPE USING(PROJECT_CATEGORY)
			  LEFT JOIN ATTACHMENT AT ON (PROJECT_NUMBER = REF_NO)
			  LEFT JOIN FUNDING_LIST USING(PROJECT_NUMBER)
				  WHERE PROJECT_STATUS='Y' 
        				AND (TO_CHAR(PROJECT_STARTDATE,'YY/MM/DD')) &lt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
        				AND (TO_CHAR(PROJECT_FINISHDATE,'YY/MM/DD')) &gt;= (TO_CHAR(SYSDATE, 'YY/MM/DD')) 
        				AND (PROJECT_NAME LIKE '%${keyword}%' OR MAKER_NAME LIKE '%${keyword}%' or HASHTAGS LIKE '%${keyword}%')
				  GROUP BY PROJECT_NUMBER, PROJECT_NAME, PROJECT_TARGET_AMOUNT, CHANGE_NAME, PROJECT_STATUS, MAKER_NAME, PROJECT_CATEGORY_NAME,
                      	PROJECT_CATEGORY, CEIL(PROJECT_FINISHDATE-SYSDATE), PROJECT_STARTDATE, PROJECT_FINISHDATE
				)
	</select>
	
</mapper>
