<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

  	  <resultMap id="memberResultSet" type="Member">
  	  		<id column="USER_NO" property="userNo"/>
  	  		<result column="user_id" property="userId"/>
  	  		<result column="user_pwd" property="userPwd"/>
  	  		<result column="USER_TYPE" property="userType"/>
  	  		<result column="user_name" property="userName"/>
  	  		<result column="email" property="email"/>
  	  		<result column="PHONE" property="phone"/>
  	  		<result column="USER_ENROLLDATE" property="enrollDate"/>
  	  		<result column="address" property="address"/>
  	  		<result column="ADDRESSNUM" property="addressNum"/>
  	  		<result column="USER_POINT" property="point"/>
  	  		<result column="STATUS" property="status"/>
  	  		<result column="REASON" property="reason"/>
  	  </resultMap>
		
  
	  <select id="loginMember" resultMap="memberResultSet" parameterType="Member">
			<!-- 암호화전 -->
			<!-- 
			select *
			  from member  
			 where user_id=#{userId}
			   and user_pwd=#{userPwd} 
			   and status='Y' -->
			<!-- 암호화 후 -->
			select *
			  from member  
			 where user_id=#{userId}
			   and status='Y'
	  </select>
	  
	  <insert id="insertMember" parameterType="Member">
	  		insert into member
	  		values(#{userId}, #{userPwd}, #{userName}, #{email},
	  			   #{gender}, #{age}, #{phone}, #{address}, sysdate, sysdate, 'Y')
	  </insert>
	  
	  <update id="updateMember" parameterType="Member">
	  		update member
	  		   set email=#{email}, 
	  		       age=#{age},
	  		       phone=#{phone},
	  		       address=#{address},
	  		       gender=#{gender},
	  		       modify_date=sysdate
	  		 where user_id=#{userId}    
	  </update>
	  
	  <select id="idCheck" parameterType="string" resultType="_int">
	  		select count(*)
	  		  from member
	  		 where user_id=#{userId}
	  </select>
	  
	  <update id="deleteMember" parameterType="Member">
	  		update MEMBER
	  		   set REASON=#{reason}, STATUS='N'
	  		 where USER_NO=#{userNo}
	  </update>
  
</mapper>






