<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="projectMapper">

	<resultMap id="projectResultSet" type="Project5">
		<id column="PROJECT_NUMBER" property="projectNumber"/>
		<result column="PROJECT_CATEGORY_NAME" property="projectCategory"/>
		<result column="USER_NO" property="userNo"/>
		<result column="PROJECT_NAME" property="projectName"/>
		<result column="PROJECT_DATE" property="projectDate"/>
		<result column="PROJECT_STARTDATE" property="projectStartDate"/>
		<result column="PROJECT_FINISHDATE" property="projectFinishDate"/>
		<result column="PROJECT_CONTENT" property="projectContent"/>
		<result column="PROJECT_TARGET_AMOUNT" property="projectTargetAmount"/>
		<result column="PROJECT_REPORT" property="projectReport"/>
		<result column="HASHTAGS" property="hashtags"/>
		<result column="PROJECT_STATUS" property="projectStatus"/>
		<result column="STATUS_STORY" property="statusStory"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
	</resultMap>
	
	<resultMap id="makerResultSet" type="Maker5">
		<id column="MAKER_NO" property="makerNo"/>
		<result column="PROJECT_NUMBER" property="projectNumber"/>
		<result column="MAKER_NAME" property="makerName"/>
		<result column="MAKER_EMAIL" property="makerEmail"/>
		<result column="MAKER_PHONE" property="makerPhone"/>
		<result column="MAKER_TYPE" property="makerType"/>
		<result column="REPRESENTATIVE_NAME" property="representativeName"/>
		<result column="REPRESENTATIVE_EMAIL" property="representativeEmail"/>
		<result column="STATUS" property="status"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
	</resultMap>
	
	<resultMap id="fundingResultSet" type="FundingList5">
		<result column="SUMPRICE" property="sumPrice"/>
		<result column="SUMSPONSERSHIP" property="sumSponsership"/>
		<result column="PERSONCOUNT" property="personCount"/>
	</resultMap>
   
   <resultMap id="newsResultSet" type="News5">
   		<id column="NEWS_NO" property="newsNo"/>
   		<result column="PROJECT_NUMBER" property="projectNumber"/>
		<result column="NEWS_TITLE" property="newsTitle"/>
		<result column="NEWS_CONTENT" property="newsContent"/>
		<result column="NEWS_DATE" property="newsDate"/>
		<result column="NEWS_COUNT" property="newsCount"/>
		<result column="NEWS_STATUS" property="newsStatus"/>
   </resultMap>
   
   <resultMap id="replyResultSet" type="ReplyP5">
   	   	<id column="REPLY_NO" property="replyNo"/>
   		<result column="USER_ID" property="userNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_DATE" property="replyDate"/>
		<result column="REPLY_YN" property="replyYn"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="REPLY_BAN_COUNT" property="replyBanCount"/>
		<result column="PROJECT_NUMBER" property="projectNumber"/>
   </resultMap>
   
   <resultMap id="rewardResultSet" type="Reward5">
   	   	<id column="REWARD_NO" property="rewardNo"/>
   		<result column="PROJECT_NUMBER" property="projectNumber"/>
		<result column="REWARD_TITLE" property="rewardTitle"/>
		<result column="REWARD_CONTENT" property="rewardContent"/>
		<result column="REWARD_COST" property="rewardCost"/>
		<result column="REWARD_REMAINING_QUANTITY" property="rewardRemainingQuantity"/>
		<result column="REWARD_DELIVERY_COST" property="rewardDeliveryCost"/>
		<result column="REWARD_STATUS" property="rewardStatus"/>
		<result column="RCOUNT" property="rewardFundingCount"/>
   </resultMap>
   
   <resultMap id="wishlistResultSet" type="Wishlist5">
		<result column="count" property="count"/>
   </resultMap>
   
   <select id="selectProject" parameterType="string" resultMap="projectResultSet">
		SELECT PROJECT_NUMBER, CT.PROJECT_CATEGORY_NAME, USER_NO, P.PROJECT_NAME, PROJECT_FINISHDATE, PROJECT_CONTENT, 
		               PROJECT_TARGET_AMOUNT, PROJECT_REPORT, HASHTAGS, PROJECT_STATUS, STATUS_STORY, CHANGE_NAME, FILE_PATH
		  FROM PROJECT P
		  JOIN CATEGORY_TYPE CT USING (PROJECT_CATEGORY)
		  JOIN ATTACHMENT A ON (A.REF_NO = P.PROJECT_NUMBER)
	     WHERE PROJECT_NUMBER = #{pno} AND PROJECT_STATUS = 'Y'
   </select>
   
   <select id="selectMaker" parameterType="string" resultMap="makerResultSet">
   		SELECT PM.*, CHANGE_NAME, FILE_PATH
		  FROM PROJECT_MAKER PM
		  JOIN ATTACHMENT A ON (A.REF_NO = PM.MAKER_NO)
		 WHERE PROJECT_NUMBER = #{pno} AND PM.STATUS = 'Y'
   </select>
   
   <select id="selectFunding" parameterType="string" resultMap="fundingResultSet">
   		SELECT SUM(FUNDING_COST) AS SUMPRICE, SUM(FUNDING_SPONSERSHIP) AS SUMSPONSERSHIP, COUNT(DISTINCT USER_NO) AS PERSONCOUNT
		FROM FUNDING_LIST
		WHERE PROJECT_NUMBER=#{pno} AND FUNDING_STATUS = 'Y'
   </select>
   
   <select id="selectNews" parameterType="string" resultMap="newsResultSet">
	   SELECT *
	     FROM NEWS
	    WHERE PROJECT_NUMBER=#{pno} AND NEWS_STATUS = 'N'
	    ORDER BY NEWS_NO
   </select>
   
   <select id="selectReward" parameterType="string" resultMap="rewardResultSet">
	   SELECT *
	     FROM REWARD
	    WHERE PROJECT_NUMBER=#{pno} AND REWARD_STATUS = 'Y'
	    ORDER BY REWARD_NO
   </select>
   
   <select id="selectReward2" parameterType="string" resultMap="rewardResultSet">
		SELECT COUNT(REWARD_NO) AS RCOUNT
		  FROM FUNDING_LIST
		 WHERE PROJECT_NUMBER=#{pno} AND FUNDING_STATUS = 'Y'
		 GROUP BY REWARD_NO
		 ORDER BY REWARD_NO
   </select>
   
   <select id="selectReplyList" parameterType="string" resultMap="replyResultSet">
		SELECT REPLY_NO, USER_ID, REPLY_CONTENT, REPLY_DATE, REPLY_YN, REPLY_STATUS, REPLY_BAN_COUNT, PROJECT_NUMBER
		  FROM REPLY
		  JOIN MEMBER USING(USER_NO)
		 WHERE PROJECT_NUMBER=#{pno} AND REPLY_STATUS= 'N'
		 ORDER BY REPLY_NO
   </select>
   
   <insert id="insertReply" parameterType="ReplyP5">
		INSERT INTO REPLY
		VALUES('REP'||SEQ_REPNO.NEXTVAL, #{userNo}, #{replyContent}, SYSDATE, 'N', 'N', 0, #{projectNumber})
   </insert>
   
   <update id="increasebanReply" parameterType="string">
   		update REPLY
   		   set REPLY_BAN_COUNT = REPLY_BAN_COUNT + 1
   		 where reply_no = #{replyNo} and REPLY_STATUS = 'N'
   </update>
   
   <insert id="insertQuestion" parameterType="PersonQuestion5">
		INSERT INTO PERSON_QUESTION
		VALUES('Q'||SEQ_QNO.NEXTVAL, #{userNo}, 1, #{counseling}, #{questionTitle}, #{questionContent}, SYSDATE, 'N', 'N', null, null, null, null)
   </insert>
   
   <insert id="insertReport" parameterType="Report5">
		INSERT INTO REPORT
		VALUES(#{userNo}, #{reportNo}, 2, SYSDATE, #{reportTitle}, #{reportContent})
   </insert>
   
   <select id="selectReport" resultType="_int">
		select count(*)
		  from REPORT
		 where USER_NO=#{userNo} and REPORT_NO=#{reportNo}
   </select>
   
   <update id="increasebanReport" parameterType="Report5">
   		update PROJECT
   		   set PROJECT_REPORT = PROJECT_REPORT + 1
   		 where PROJECT_NUMBER = #{reportNo}
   </update>
   
   <update id="deleteReply" parameterType="string">
        update REPLY
   		   set REPLY_STATUS = 'Y'
   		 where reply_no = #{replyNo}
   </update>
   
   <!-- 주혁 -->   
<!--    <select id="selectWishlistCount" parameterType="Wishlist5" resultMap="wishlistResultSet">
		select count(*) as count
		  from WISHLIST
	     where USER_NO=#{userNo} and PROJECT_NUMBER=#{projectNumber}
   </select>
    -->
   <select id="selectWishlistCount" resultType="_int">
      select count(*) 
        from WISHLIST 
       where USER_NO=#{userNo} and PROJECT_NUMBER=#{projectNumber}
   </select>
   
   <insert id="addWishlist" parameterType="Wishlist5" >
		INSERT INTO WISHLIST
		VALUES(#{projectNumber}, #{userNo}, SYSDATE, 'N')
   </insert>
   
   <delete id="deleteWishlist" parameterType="Wishlist5">
	   	delete from WISHLIST
	     where USER_NO=#{userNo} and PROJECT_NUMBER=#{projectNumber}
   </delete>
   
</mapper>